.position-relative {
    position: relative;
}

.ml-auto {
    margin-left: auto;
}

.py-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.px-1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-2 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-3 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.pb-1 {
    padding-bottom: 0.5rem;
}

.pb-2 {
    padding-bottom: 1rem;
}

.pb-3 {
    padding-bottom: 1.5rem;
}

.ml-1 {
    margin-left: 0.5rem;
}

.ml-2 {
    margin-left: 1rem;
}

.ml-3 {
    margin-left: 1.5rem;
}

.mt-1 {
    margin-top: 0.5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.d-flex {
    display: flex;
}

.d-inline-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-gap-1 {
    gap: 0.5rem;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.color-primary {
    color: #00CDAC;
}

.font-weight-bold {
    font-weight: 700;
}

.cursor-pointer {
    cursor: pointer;
}

.border-bottom {
    border-bottom: 1px solid #E9ECEF;
}

.text-center {
    text-align: center;
}

.paragraph {
    color: #525F7F;
    line-height: 27px;
    letter-spacing: -0.3px;
}
